<div class="d-flex flex-row ribbon">
  <div class="p-2 ribbon-block ">
    <i class="fa fa-compress"></i><br /><span>Compare Orders</span>
  </div>
   <div class="p-2 ribbon-block " routerLink="/dataexport">
    <i class="fa fa-file-excel-o"></i><br /><span>Data Export</span>
  </div>
</div>
<h3 class="page-name" style="position:relative">
  <ol class="breadcrumb d-flex">
    <li class="breadcrumb-item active">COMPARE ORDERS</li>
  </ol>

</h3>
<div class="col-md-12 d-flex flex-row p-0">
  <div style="height:300px;overflow:auto;width:100%;margin-bottom:10px;">
    <app-data-table [data]="gridData.data" [settings]="gridData.settings" [columnconfig]="gridData.columnconfig"
      [(events)]="gridData.events" class="data-table"></app-data-table>
  </div>
</div>
<!-- <div class="col-md-12 d-flex flex-row p-0">
  <label class="col-1">Order Type</label>
  <select class="form-control" (change)="setOrderType($event.target.value)" [(ngModel)]="selectedOrderTypeCode">
    <option *ngFor="let orderType of OrderType; let i=index" [value]="orderType.code" class="OrderTypeOption" style="font-size:.9rem;padding:5px">{{orderType.name}}</option>
  </select>
  <span class="col-8"></span>
  <span><button type="button" class="btn btn-primary float-right" (click)="Generate()">Generate</button></span>
  <br>
  <br>
  <br>
</div> -->

<div class="row p-4">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-3">
        <label class="font-weight-bold">Order Type</label>
      </div>
      <div class="col-sm-9">
        <select class="form-control" (change)="setOrderType($event.target.value)" [(ngModel)]="selectedOrderTypeCode">
          <option *ngFor="let orderType of OrderType; let i=index" [value]="orderType.code" class="OrderTypeOption"
            style="font-size:.9rem;padding:5px">{{orderType.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-3"></div>

  <div class="col-sm-4">
    <div class="row" *ngIf="scheduleReminderoption">
      <div class="col-sm-5">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dpfromControl"
            [(ngModel)]="scheduledDate" ngbDatepicker #fromControl="ngbDatepicker">
          <button class="input-group-addon" (click)="fromControl.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
        <div class="input-group">
          <p *ngIf="scheduleDateFlag" style="color:red">Date is required.</p>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="time" [(ngModel)]="scheduledTime" name="schTime">
        </div>
        <div class="input-group">
          <p *ngIf="scheduleTimeFlag" style="color:red">Time is required.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary ml-3" (click)="scheduledGenerate()">Ok</button>
      </div>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="dropdown">
      <button class="dropbtn btn btn-primary">Generate</button>
      <div class="dropdown-content" style="right:0;">
        <a (click)="Generate()">Now</a>
        <a (click)="scheduleToggle()">Schedule</a>
      </div>
    </div>
  </div>

</div>

<div class="col-md-12 d-flex flex-row p-0">
  <div class="col-6">
    <table class="table w-100">
      <thead class="font-weight-bold" style="background-color: #fafafa;">
        <tr>
          <td>Order 1 <input type="text" [(ngModel)]="searchControl" id="search" placeholder="Search..."
              class="form-control" />
            <p *ngIf="controlOrderCodeFlag" style="color:red">Control order code required.</p>
          </td>
          <td>Start Date
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dpfromControl"
                  [(ngModel)]="ControlDateFilterFrom" ngbDatepicker #fromControl="ngbDatepicker">
                <button class="input-group-addon" (click)="fromControl.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <p *ngIf="controlDateFromFlag" style="color:red">Start date required.</p>
          </td>
          <td>End Date
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dptoControl"
                  [(ngModel)]="ControlDateFilterTo" ngbDatepicker #toControl="ngbDatepicker">
                <button class="input-group-addon" (click)="toControl.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <p *ngIf="controlDateToFlag" style="color:red">End date required.</p>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <table class="table table-bordered w-100 innerTable mb-0">
              <thead style="background-color: #000;color:#fff">
                <tr>
                  <th style="width:10%"></th>
                  <th style="width:20%">ORDER CODE</th>
                  <th>OSC TEMPLATE NAME</th>
                </tr>
              </thead>
            </table>
            <div style="height:200px;overflow:auto">
              <table class="table table-bordered w-100">
                <tbody *ngFor="let data of controlTestOrderArray | searchFilter: searchControl; let i = index">
                  <tr (click)="setValueControl(data.OrderCode, i)" [attr.id]="i" class="controlOrder">
                    <td style="width:10%"><input type="radio" name="controlOrder" [attr.id]="'radio' + i"
                        (click)="controlOrderRadio('radio' + i)" /></td>
                    <td style="width:20%">{{data.OrderCode}}</td>
                    <td>{{data.OSCTemplateName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="col-6">
    <table class="table w-100">
      <thead class="font-weight-bold" style="background-color: #fafafa;">
        <tr>
          <td>Order 2 <input type="text" [(ngModel)]="searchTest" id="search" placeholder="Search..."
              class="form-control" />
            <p *ngIf="testOrderCodeFlag" style="color:red">Test order code required.</p>
          </td>
          <td>Start Date
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dpfromTest"
                  [(ngModel)]="TestDateFilterFrom" ngbDatepicker #fromTest="ngbDatepicker">
                <button class="input-group-addon" (click)="fromTest.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <p *ngIf="testDateFromFlag" style="color:red">Start date required.</p>
          </td>
          <td>End Date
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dptoTest"
                  [(ngModel)]="TestDateFilterTo" ngbDatepicker #toTest="ngbDatepicker">
                <button class="input-group-addon" (click)="toTest.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <p *ngIf="testDateToFlag" style="color:red">End date required.</p>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <table class="table table-bordered table-hover w-100 innerTable mb-0">
              <thead style="background-color: #000;color:#fff">
                <tr>
                  <th style="width:10%"></th>
                  <th style="width:20%">ORDER CODE</th>
                  <th>OSC TEMPLATE NAME</th>
                </tr>
              </thead>
            </table>
            <div style="height:200px;overflow:auto">
              <table class="table table-bordered table-hover w-100 ">

                <tbody *ngFor="let data of controlTestOrderArray | searchFilter: searchTest; let i = index">
                  <tr (click)="setValueTest(data.OrderCode,'test'+i)" [attr.id]="'test' + i" class="testOrder">
                    <td style="width:10%"><input type="radio" name="testOrder" [attr.id]="'radioTest' + 'test'+i"
                        (click)="testOrderRadio('radioTest' +'test'+ i)" /></td>
                    <td style="width:20%">{{data.OrderCode}}</td>
                    <td>{{data.OSCTemplateName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
