<h3 class="page-name" style="position:relative">
  <ol class="breadcrumb d-flex">
    <li class="breadcrumb-item active">CROSSTAB</li>
  </ol>
</h3>

<div class="d-flex flex-row mt-3" style="overflow-x: hidden;">
  <div class="h-100 p-2 mr-3" style="width: 62%;">
    <!-- <span class="d-flex flex-row w-100">
      <span>
        <i class="fa fa-filter" (click)="ShowFilterPopup($event)"
          style="color: #337ab7;cursor: pointer;border: 1px solid rgba(0, 0, 0, 0.15);padding: 5px;border-radius: 2px;"
          title="Filters">
        </i>
      </span>

      <span style="margin-left: 141px;">
        <i style="margin-left: 35.5rem;" class="fa fa-download" title="Download"></i>
      </span>

    </span> -->

    <div *ngIf="showCrosstabTable">
      <i style="position: absolute; left: 763px;" class="fa fa-download pull-right" title="Download CSV"
        (click)="downloadGridData()"></i>
      <app-data-table [data]="gridData.data" [settings]="gridData.settings" [columnconfig]="gridData.columnconfig"
        class="data-table"></app-data-table>
    </div>

  </div>

  <div class="h-100" style="width: 38%;">
    <div class="w-100">
      <div class="page-name" style="position:relative">
        <ol class="breadcrumb d-flex">
          <span class="w-25 bg-secondary">Step 1</span>
          <li class="breadcrumb-item active text-center">SAVED CROSSTAB</li>
        </ol>
      </div>

      <input class="form-control w-50" type="text" placeholder="Search..." aria-label="SearchDefinition"
        [(ngModel)]="searchDefinition">

      <table class="table table-bordered table-hover w-100  mt-2 mb-0">
        <thead class="thead-light">
          <tr>
            <th style="width: 44px;"></th>
            <th style="max-width: 121px; width: 121px;">NAME</th>
            <th style="max-width: 126px; width: 126px;">CREATED BY</th>
            <th style="max-width: 105px;;width: 105px;">CREATED ON</th>
            <th style="max-width: 63px;"></th>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered table-hover mt-0 w-100">
        <tbody>
          <tr *ngFor="let definition of crosstabDefinitions | searchFilter : searchDefinition; let i = index">
            <td style="width: 44px;"> <input type="radio" name="definition" [value]="definition"
                [(ngModel)]="selectedDefinition" (change)="itemSelected('definition', definition['OrderType'])">
            </td>
            <td [title]="definition.Name" class="text-truncate" style="max-width: 120px; width: 121px;">
              {{definition.Name}}</td>
            <td [title]="definition.CreatedBy" class="text-truncate" style="max-width: 126px; width: 126px;">
              {{definition.CreatedBy}}</td>
            <td class="text-truncate" style="max-width: 105px;;width: 105px;">{{definition.CreatedOn}}</td>
            <td style="max-width: 63px;">
              <i title="Delete this Definition" class="fa fa-trash btn" (click)="deleteDefinition(definition.ID,i)"
                style="font-size: medium;color: #dc3545 !important;"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <span *ngIf="selectedDefinitionEmpty" class="text-danger">
      *Select a Definition
    </span>


    <div class="d-flex flex-row justify-content-end">
      <span class="btn btn-primary" title="Add a new Crosstab definition" routerLink="newdefinition">New
        Definition</span>
    </div>

    <div class="mt-2">
      <div class="page-name" style="position:relative">
        <ol class="breadcrumb d-flex ">
          <span class="w-25 bg-secondary">Step 2</span>
          <li class="breadcrumb-item active text-center">SELECT DATA SOURCE</li>
        </ol>
      </div>

      <div class="d-flex flex-row w-100 mb-2">
        <span class="col-3 text-secondary pl-0" style="margin-top: auto;margin-bottom: auto;">Filter</span>
        <span>
          <i class="fa fa-filter" (click)="ShowFilterPopup($event)"
            style="color: #337ab7;cursor: pointer;border: 1px solid rgba(0, 0, 0, 0.15);padding: 5px;border-radius: 2px;"
            title="Filters">
          </i>
        </span>
      </div>

      <div class="row w-100">
        <span class="col-3 text-secondary" style="margin-top: auto;margin-bottom: auto;">Orders</span>
        <span class="col-9"><input class="form-control w-75" type="text" placeholder="Search..."
            aria-label="SearchOrder" [(ngModel)]="searchOrder"></span>
      </div>

      <table class="table table-bordered table-hover w-100  mt-2 mb-0">
        <thead class="thead-light">
          <tr>
            <th style="width: 11%;"></th>
            <th style="width: 23%;">ORDER CODE</th>
            <th style="width: 43%;">OSC TEMPLATE NAME</th>
            <th>ORDER TYPE</th>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered table-hover w-100 mt-0">
        <tbody>
          <tr *ngFor="let order of filteredOrders | searchFilter : searchOrder">
            <td style="width: 11.2%;">
              <input type="radio" name="order" [value]="order" [(ngModel)]="selectedOrder"
                (change)="itemSelected('order')">
            </td>
            <td style="width: 23.4%;" [title]="order.OrderCode">
              {{order.OrderCode}}</td>
            <td style="width: 43.8%;">{{order.OSCTemplateName}}</td>
            <td>{{OrderType[order.OrderType]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <span *ngIf="selectedOrderEmpty" class="text-danger">
      *Select an Order
    </span>

    <div class="d-flex flex-row justify-content-end mt-2 mb-2">
      <span class="btn btn-primary" (click)="runCrosstab()">Run CrossTab</span>
    </div>

  </div>

</div>