.rowColor {
  background-color: #dde9ff;
  font-weight: bold;
  color: #4385f4 !important;
  border-top-color: #dde9ff;
}
.rowColor:hover td {
  background-color: #dde9ff;
  font-weight: bold;
  color: #4385f4 !important;
  border-top-color: #dde9ff;
}

.dropbtn {
  border: none;
  /* cursor: pointer; */
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.align-center {
  margin-top: auto;
  margin-bottom: auto;
}

.cancel {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;;
  color: white;
}

.cancel:hover {
  background-color: #b21f2d !important;
}

.cancel:focus{
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}