<div class="login-page">
  <form class="form-horizontal login-form ">
    <div class="row">     
      <div class="col-md-12"  style="height:60px;">
        <h5 class="pull-left">Please Login</h5>
        <img src="../../assets/images/logo.png" class="pull-right"  style="height:60px;margin-top:-10px;">
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
    <div class="row">
     
      <div class="col-md-12">
        <div class="form-group">
          <label class="sr-only" for="email">E-Mail Address</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input type="text" name="email" class="form-control" id="email" [(ngModel)]="user.UserName" placeholder="Username"
              required autofocus>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
                      <i class="fa fa-close"></i> Example error message
                  </span>
        </div>
      </div> -->
    </div>
    <div class="row">
     
      <div class="col-md-12">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input type="password" name="password" [(ngModel)]="user.Password" class="form-control" id="Password" placeholder="Password"
              required>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
                  <!-- Put password error message here -->    
          </span>
        </div>
      </div>
    </div>
    <div class="row">    
      <div class="col-md-12">
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <span style="color:red" *ngIf="errorText">{{errorText}}</span>
          <!--<div class="checkbox">
                      <input id="remember" name="remember" type="checkbox" >
                      <label for="remember">Remember me</label>
          </div>-->
        </div>
      </div>
    </div>
    <div class="row">    
      <div class="col-md-12">
        <button type="submit" (click)="Submit()" class="btn btn-success login-btn pull-right">Login</button>
        <!--<a class="btn btn-link">Forgot Your Password?</a>-->
      </div>
    </div>
  </form>
</div>
