<div class="modal-header modal-header-global">
  <h4 class="modal-title">Change Password</h4>
  <h4 class="modal-title" *ngIf="isPasswordExpiring && !isPasswordExpired">Your password is going to expire in {{PasswordExpiryRemaining_Days}} days</h4>
  <h4 class="modal-title" *ngIf="isPasswordExpired">Your password has expired</h4>
  <i class="fa fa-times" *ngIf="!isPasswordExpired" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"></i>
</div>
<div class="modal-body">
  <div class="col-sm-12">
    <!-- <input type="text" class="form-control" [(ngModel)]="formData.oscTemplateName" id="name" placeholder="OSC Template Name"> -->
    <div class="form-group">
      <label for="usr">Old Password:</label><input type="password" required class="form-control" name="username" [(ngModel)]="formData.oldPassword"
                                           id="username" placeholder="Old Password" />
    </div>
    <div class="form-group">
      <label for="pwd">New Password:</label><input type="password" required class="form-control" name="password" [(ngModel)]="formData.newPassword"
                                               id="password" placeholder="New Password" />
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label><input type="password" required class="form-control" name="repassword" [(ngModel)]="formData.reNewPassword"
                                                   id="repassword" placeholder="Confirm Password" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <span style="color:red" *ngIf="errorText">{{errorText}}</span>
  <div class="pull-right">
    <button type="button" class="btn btn-success" (click)=" Save()">Save</button>
  </div>
</div>