<h3 class="page-name" style="position:relative">
  <ol class="breadcrumb d-flex">
    <li class="breadcrumb-item active">Reminder Mailer / Order Code : {{orderCode}}</li>
  </ol>
</h3>
<div class="d-flex flex-column">
  <div class="col-md-12 d-flex flex-row">
    <div class="radio col-md-2">
      <input type="radio" class="form-check-input" [(ngModel)]="ReminderType" (ngModelChange)="ChangeReminder()" name="rem1" id="rem1"
        value="reminder1" checked>
      <label for="rem1">Reminder 1
                  </label>
    </div>
    <div [hidden]="!IsReminder2Set" class="radio col-md-2">
      <input type="radio" class="form-check-input" [(ngModel)]="ReminderType" (ngModelChange)="ChangeReminder()" name="rem2" id="rem2"
        value="reminder2">
      <label for="rem2">Reminder 2
                        </label>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="d-flex">
    <app-data-table [data]="gridData.data" [settings]="gridData.settings" [columnconfig]="gridData.columnconfig" [(events)]="gridData.events"
      class="data-table"></app-data-table>
  </div>
  <div class="col-md-12 d-flex flex-row">
    <div class="col-md-3">
      Number Of Records to Process
      <i class="fa fa-filter" (click)="ShowFilterPopup()" style="color:#000" title="Filters"></i>
    </div>
    <div class="col-md-2">
      <span>{{IncentiveRuleDetails.count}}</span>
    </div>
  </div>
  <br/>
  <div *ngIf="IncentiveRuleDetails.prerulename" class="col-md-12 d-flex flex-row">
    <div class="col-md-3">
      Pre IFactor Rule Configured For Reminder Mailer
    </div>
    <div class="col-md-2">
      <span> {{IncentiveRuleDetails.prerulename}}</span>
    </div>
    <p class="alert alert-info col-md-6">
      {{IncentiveRuleDetails.preruledescription}}
    </p>
  </div>

  <div *ngIf="IncentiveRuleDetails.postrulename" class="col-md-12 d-flex flex-row" style="padding-top:10px;">
    <div class="col-md-3">
      Post IFactor Rule Configured For Reminder Mailer
    </div>
    <div class="col-md-2">
      <span> {{IncentiveRuleDetails.postrulename}}</span>
    </div>
    <p class="alert alert-info col-md-6">
      {{IncentiveRuleDetails.postruledescription}}
    </p>
  </div>
  <hr/>
  <div class="col-md-12 d-flex">
    <app-data-table [data]="gridDataDistributionIncentives.data" [settings]="gridDataDistributionIncentives.settings" [columnconfig]="gridDataDistributionIncentives.columnconfig"
      [(events)]="gridDataDistributionIncentives.events" class="data-table"></app-data-table>
  </div>
  <div class="col-md-12 d-flex flex-row">
    <div class="col-md-3">
      Generate Reminder Mailer File
    </div>
    <div class="col-md-2">
      <div class="dropdown" [ngClass]="{'disabled':IncentiveRuleDetails.count == 0}">
        <button class="dropbtn pull-right btn btn-primary"   [disabled]="IncentiveRuleDetails.count == 0">Generate</button>
        <div  class="dropdown-content" style="left:0;">
          <a  (click)="GenerateMailer()">Now</a>
          <a  (click)="scheduleToggle()">Schedule</a>
        </div>
      </div>
    </div>
    <div class="form-group col-md-2" *ngIf="scheduleReminderoption">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="false" name="dpfromControl"
               [(ngModel)]="scheduledDate" ngbDatepicker #fromControl="ngbDatepicker">
        <button class="input-group-addon" (click)="fromControl.toggle()"  type="button">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
      <div class="input-group">
        <p *ngIf="scheduleDateFlag" style="color:red">Date is required.</p>
      </div>
    </div>
    <div class="form-group col-md-2" *ngIf="scheduleReminderoption">
      <div class="input-group">
        <input type="time" [(ngModel)]="scheduledTime" name="schTime">

        <button type="button" class="btn btn-primary ml-3" (click)="scheduledGenerate()">Ok</button>
      </div>
      <div class="input-group">
        <p *ngIf="scheduleTimeFlag" style="color:red">Time is required.</p>
      </div>
    </div>
  </div>
</div>
