<h3 class="page-name" style="position:relative">
  <ol class="breadcrumb d-flex">
    <li class="breadcrumb-item active">SCAN PO RETURN</li>
  </ol>
</h3>
<div class="p-1">
  <div class="col-lg-8">
    <h4></h4>
  </div>
  <h5>
    <span class="badge badge-success">Place Envelope Under Scanner with Window Side Up.</span>
  </h5>
  <!-- <div class="alert alert-info" role="alert">
    <strong>Place Envelope Under Scanner with Window Side Up.</strong>
  </div> -->
</div>
<div class="p-1">
  <div class="col-lg-8 pl-0">
    <div class="input-group">
      <input type="text" appEleFocus [(ngModel)]="barcode" (ngModelChange)="GetDetails($event)" class="form-control" placeholder="Enter QR Code here...">
      <!-- <span class="input-group-btn">
        <button (click)="GetDetails()" class="btn btn-secondary" type="button">Proceed</button>
      </span> -->
    </div>
  </div>
  <br/>
  <div class="separator">OR</div>
  <div class="p-1">
    <h5>
      <span class="badge badge-info">Manual Entry</span>
    </h5>
    <br/>
    <div class="col-md-12 form-inline">
      <div class="form-group mb-2 col-md-4">
        <input type="text" class="form-control  col-md-12" [(ngModel)]="orderCode" id="ordercode" placeholder="OrderCode...">
      </div>
      <div class="form-group mb-2 col-md-4">
        <input type="text" class="form-control  col-md-12" [(ngModel)]="passcode" id="passcode" (keyup.enter)="GetMailingIndicatorOptions()" placeholder="Passcode...">
      </div>
      <small class="form-text text-muted col-md-4">Press Enter After filling OrderCode and Passcode</small>

    </div>
    <br/>
    <div class="col-md-12 form-inline">
      <div class="form-group col-md-6">
        <select [(ngModel)]="mailingIndicator" class="form-control col-md-12 form-control-sm">
          <option value="">--Select Mailing Indicator--</option>
          <option *ngFor="let opt of mailingIndicatoroptions" [value]="opt.code">{{opt.text}}</option>
          <!-- <option value="A">Initial Mail</option>
          <option value="X">Reminder One Mail</option>
          <option value="Z">Reminder Two Mail</option> -->
        </select>
      </div>
      <button type="button" (click)="ManualEntry()" class="btn btn-secondary">Proceed</button>
    </div>
  </div>
